Workfows
{
  "name": "threat blogs and news updates",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1808,
        -624
      ],
      "id": "15df804a-f2aa-439d-8d47-59459a7b17a3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// This node returns curated cybersecurity RSS feeds\n// You can add, remove, or modify feeds as needed\n\nreturn [\n  {\n    json: {\n      name: \"Krebs on Security\",\n      website: \"https://krebsonsecurity.com\",\n      rss_url: \"https://krebsonsecurity.com/feed/\"\n    }\n  },\n  {\n    json: {\n      name: \"The Hacker News\",\n      website: \"https://thehackernews.com\",\n      rss_url: \"https://feeds.feedburner.com/TheHackersNews\"\n    }\n  },\n  {\n    json: {\n      name: \"Dark Reading\",\n      website: \"https://www.darkreading.com\",\n      rss_url: \"https://www.darkreading.com/rss.xml\"\n    }\n  },\n  {\n    json: {\n      name: \"SANS Internet Storm Center\",\n      website: \"https://isc.sans.edu\",\n      rss_url: \"https://isc.sans.edu/rssfeed_full.xml\"\n    }\n  },\n  {\n    json: {\n      name: \"Cisco Talos Intelligence Blog\",\n      website: \"https://blog.talosintelligence.com\",\n      rss_url: \"https://blog.talosintelligence.com/rss/\"\n    }\n  },\n  {\n    json: {\n      name: \"WeLiveSecurity (ESET)\",\n      website: \"https://www.welivesecurity.com\",\n      rss_url: \"https://feeds.feedburner.com/eset/blog\"\n    }\n  },\n  {\n    json: {\n      name: \"Graham Cluley Security Blog\",\n      website: \"https://grahamcluley.com\",\n      rss_url: \"https://grahamcluley.com/feed/\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1584,
        -624
      ],
      "id": "ee8ba05b-df4a-445c-b30e-8f5c2f417038",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss_url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1360,
        -624
      ],
      "id": "ab032461-9cfd-4f5a-bfba-ffe2b2110a3c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.rss_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1136,
        -624
      ],
      "id": "279213d6-eee1-474a-acde-951de35ecaea",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b06d91e3-f6ce-49b2-af8b-b55474013838",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "287e3904-526e-4c56-ab01-ab3d54fd5e14",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "a73d6479-2190-479d-9bbc-a46efdd1ab74",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "44310b85-0d80-466d-9bca-a384cfb27868",
              "name": "isoDate",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            },
            {
              "id": "be2aba1e-e40a-4bdb-98c7-50f4bea7f664",
              "name": "categories",
              "value": "={{ $json.categories }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        -624
      ],
      "id": "0db378f5-31e1-4ba8-ae35-a0c3139231b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f006176-8d01-4306-86ed-ace6607f802e",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "=\"774894794002\"",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -688,
        -624
      ],
      "id": "d921c0c8-8cbf-4565-bb7b-ca4cf3575e18",
      "name": "Filter"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "isoDate"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -464,
        -624
      ],
      "id": "b1918fbb-a361-4a9b-a1bc-b8c4ae58683a",
      "name": "Sort"
    },
    {
      "parameters": {
        "jsCode": "// Advanced Cybersecurity Intelligence Newsletter Generator - n8n Function Node\n// Processes RSS security articles and builds a clean HTML digest for AI enrichment or direct sending\n\nlet newsItems = [];\n\ntry {\n  if ($input && $input.all().length > 0) {\n    const inputItems = $input.all();\n\n    if (inputItems.length === 1 && Array.isArray(inputItems[0].json)) {\n      newsItems = inputItems[0].json;\n    } else {\n      newsItems = inputItems.map(item => item.json);\n    }\n  } else if (typeof items !== 'undefined' && items.length > 0) {\n    if (items.length === 1 && Array.isArray(items[0].json)) {\n      newsItems = items[0].json;\n    } else {\n      newsItems = items.map(item => item.json);\n    }\n  }\n\n  console.log(`Loaded ${newsItems.length} raw news items`);\n} catch (error) {\n  console.log(`Input processing error: ${error.message}`);\n\n  return [\n    {\n      json: {\n        error: true,\n        subject: \"Cybersecurity Intelligence Digest Error\",\n        html: `<h1>Error Building Newsletter</h1><p>${error.message}</p>`\n      }\n    }\n  ];\n}\n\n// Generate date\nconst today = new Date();\n\nconst dateString = today.toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\n// Keep only recent articles\nconst hoursToInclude = 12;\nconst cutoffTime = Date.now() - (hoursToInclude * 60 * 60 * 1000);\n\nlet filteredArticles = newsItems.filter(article => {\n  if (!article) return false;\n\n  const articleDate = article.isoDate\n    ? (typeof article.isoDate === 'number'\n      ? article.isoDate\n      : new Date(article.isoDate).getTime())\n    : 0;\n\n  return articleDate >= cutoffTime;\n});\n\nconsole.log(`Articles after time filtering: ${filteredArticles.length}`);\n\n// Remove duplicates by title or link\nconst seenTitles = new Set();\nconst seenLinks = new Set();\n\nfilteredArticles = filteredArticles.filter(article => {\n  const title = (article.title || '').trim().toLowerCase();\n  const link = (article.link || '').trim().toLowerCase();\n\n  if (!title && !link) return false;\n\n  if (seenTitles.has(title) || seenLinks.has(link)) {\n    return false;\n  }\n\n  seenTitles.add(title);\n  seenLinks.add(link);\n\n  return true;\n});\n\nconsole.log(`Articles after deduplication: ${filteredArticles.length}`);\n\n// Limit number of articles\nfilteredArticles = filteredArticles.slice(0, 30);\n\nconsole.log(`Articles after limit: ${filteredArticles.length}`);\n\n// Smart category mapping\nconst categories = {\n  \"Critical Threat Alerts\": [],\n  \"Malware & Ransomware\": [],\n  \"Data Breaches & Incident Response\": [],\n  \"Cloud Security\": [],\n  \"Fintech & Banking Threats\": [],\n  \"AI Security & Emerging Technology Risks\": [],\n  \"Identity & Access Management Threats\": [],\n  \"Vulnerability & Patch Alerts\": [],\n  \"Nation-State Threats & APT Activity\": [],\n  \"Security Tools, Detection & Defensive Best Practices\": [],\n  \"Other Security News\": []\n};\n\n// Keywords for categorization\nconst categoryKeywords = {\n  \"Critical Threat Alerts\": [\"critical\", \"actively exploited\", \"zero-day\", \"urgent\", \"emergency\"],\n  \"Malware & Ransomware\": [\"ransomware\", \"malware\", \"trojan\", \"loader\", \"botnet\", \"worm\"],\n  \"Data Breaches & Incident Response\": [\"breach\", \"leak\", \"incident\", \"compromise\", \"stolen\", \"data exposure\"],\n  \"Cloud Security\": [\"aws\", \"azure\", \"gcp\", \"cloud\", \"kubernetes\", \"docker\", \"iam\", \"api\", \"s3\", \"lambda\"],\n  \"Fintech & Banking Threats\": [\"bank\", \"payment\", \"fintech\", \"fraud\", \"swift\", \"mpesa\", \"sacco\", \"crypto\"],\n  \"AI Security & Emerging Technology Risks\": [\"ai\", \"llm\", \"machine learning\", \"deepfake\", \"chatgpt\", \"model\"],\n  \"Identity & Access Management Threats\": [\"identity\", \"authentication\", \"password\", \"mfa\", \"oauth\", \"access\"],\n  \"Vulnerability & Patch Alerts\": [\"vulnerability\", \"cve\", \"patch\", \"update\", \"exploit\"],\n  \"Nation-State Threats & APT Activity\": [\"apt\", \"china\", \"russia\", \"iran\", \"north korea\", \"state-sponsored\"],\n  \"Security Tools, Detection & Defensive Best Practices\": [\"defender\", \"siem\", \"edr\", \"xdr\", \"detection\", \"monitoring\"]\n};\n\n// Categorize articles\nfilteredArticles.forEach(article => {\n  const combinedText = `\n    ${(article.title || '')}\n    ${(article.contentSnippet || '')}\n    ${(article.content || '')}\n    ${(article.categories || '')}\n  `.toLowerCase();\n\n  let matched = false;\n\n  for (const [category, keywords] of Object.entries(categoryKeywords)) {\n    if (keywords.some(keyword => combinedText.includes(keyword))) {\n      categories[category].push(article);\n      matched = true;\n      break;\n    }\n  }\n\n  if (!matched) {\n    categories[\"Other Security News\"].push(article);\n  }\n});\n\n// Function to clean content\nfunction cleanContent(content) {\n  if (!content) return \"No summary available.\";\n\n  return content\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 350);\n}\n\n// Generate HTML\nfunction generateNewsletterHTML() {\n  const styles = `\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f6f8;\n      color: #2c3e50;\n      max-width: 1000px;\n      margin: auto;\n      padding: 20px;\n    }\n    .header {\n      background: #111827;\n      color: white;\n      padding: 30px;\n      border-radius: 10px;\n      margin-bottom: 20px;\n    }\n    .header h1 {\n      margin: 0;\n      color: #ffffff;\n    }\n    .summary-box {\n      background: #ffffff;\n      border-left: 5px solid #dc2626;\n      padding: 15px;\n      margin-bottom: 25px;\n      border-radius: 8px;\n    }\n    h2 {\n      color: #dc2626;\n      border-bottom: 2px solid #e5e7eb;\n      padding-bottom: 8px;\n      margin-top: 40px;\n    }\n    .article {\n      background: #ffffff;\n      border-radius: 10px;\n      padding: 18px;\n      margin-bottom: 15px;\n      box-shadow: 0 2px 6px rgba(0,0,0,0.08);\n    }\n    .article h3 {\n      margin-top: 0;\n      color: #111827;\n    }\n    .article p {\n      margin: 8px 0;\n      color: #4b5563;\n    }\n    .article a {\n      color: #dc2626;\n      font-weight: bold;\n      text-decoration: none;\n    }\n    .article a:hover {\n      text-decoration: underline;\n    }\n    .meta {\n      font-size: 12px;\n      color: #6b7280;\n      margin-top: 10px;\n    }\n    .footer {\n      margin-top: 40px;\n      font-size: 13px;\n      color: #6b7280;\n      text-align: center;\n      border-top: 1px solid #d1d5db;\n      padding-top: 20px;\n    }\n  `;\n\n  let html = `\n  <!DOCTYPE html>\n  <html>\n  <head>\n    <meta charset=\"UTF-8\">\n    <title>Daily Cybersecurity Threat Briefing</title>\n    <style>${styles}</style>\n  </head>\n  <body>\n\n    <div class=\"header\">\n      <h1>Daily Cybersecurity Threat Briefing</h1>\n      <p>${dateString}</p>\n    </div>\n\n    <div class=\"summary-box\">\n      <strong>Digest Summary:</strong><br>\n      ${filteredArticles.length} curated cybersecurity articles from the last ${hoursToInclude} hours across trusted intelligence sources.\n    </div>\n  `;\n\n  Object.entries(categories).forEach(([category, articles]) => {\n    if (!articles.length) return;\n\n    html += `<h2>${category} (${articles.length})</h2>`;\n\n    articles.forEach(article => {\n      const formattedDate = article.isoDate\n        ? new Date(article.isoDate).toLocaleString('en-US', {\n            month: 'short',\n            day: 'numeric',\n            hour: 'numeric',\n            minute: '2-digit'\n          })\n        : 'Unknown date';\n\n      html += `\n        <div class=\"article\">\n          <h3>${article.title || 'Untitled Article'}</h3>\n          <p>${cleanContent(article.contentSnippet || article.content)}</p>\n          <a href=\"${article.link || '#'}\" target=\"_blank\">Read Full Article</a>\n          <div class=\"meta\">\n            Source: ${article.creator || article.source || 'Unknown'} |\n            Published: ${formattedDate}\n          </div>\n        </div>\n      `;\n    });\n  });\n\n  html += `\n    <div class=\"footer\">\n      <p><em>This report was automatically generated to help security teams understand the daily cyber threat landscape.</em></p>\n      <p>Think of this digest like your morning SOC standup — quick, actionable, and built to stop surprises before they become headlines.</p>\n    </div>\n  </body>\n  </html>\n  `;\n\n  return html;\n}\n\nconst newsletterHTML = generateNewsletterHTML();\n\nreturn [\n  {\n    json: {\n      subject: `Daily Cybersecurity Threat Briefing - ${dateString}`,\n      html: newsletterHTML,\n      articleCount: filteredArticles.length,\n      categoryCount: Object.keys(categories).filter(cat => categories[cat].length > 0).length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -624
      ],
      "id": "447e0232-1554-42d6-896a-714bdb5b6457",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.subject }}\n{{ $json.html }}",
        "options": {
          "systemMessage": "=### Cybersecurity Intelligence Daily Briefing Generator\n\nYou are an elite cybersecurity threat intelligence analyst, SOC lead, incident responder, cloud security engineer, fintech fraud investigator, and business risk advisor.\n\nYour job is to analyze the provided HTML newsletter content, identify the most important cybersecurity stories, remove duplicates, classify threats, explain their impact, and generate a clean daily threat briefing.\n\nThe audience includes:\n- Beginner cybersecurity learners\n- SOC analysts\n- Cloud engineers\n- Startup founders\n- Fintech teams\n- IT managers\n- Business executives\n- Non-technical readers who still need to understand risk\n\nRules:\n\n1. Parse the provided HTML and identify all articles.\n\n2. Remove duplicate articles using:\n- Same title\n- Same URL\n- Same event reported by multiple sources\n- Nearly identical content summaries\n\n3. Ignore empty sections and categories with no articles.\n\n4. Categorize articles into the following sections:\n\n- Critical Threat Alerts\n- Malware & Ransomware\n- Data Breaches & Incident Response\n- Cloud Security (AWS, Azure, GCP, Kubernetes, IAM, APIs, Serverless)\n- Fintech & Banking Threats\n- AI Security & Emerging Technology Risks\n- Identity & Access Management Threats\n- Vulnerability & Patch Alerts\n- Nation-State Threats & APT Activity\n- Security Tools, Detection & Defensive Best Practices\n\n5. For every article include:\n\n- Article title\n- Short summary in 2–3 lines\n- Why it matters\n- Who is affected\n- Possible attacker method\n- Recommended defensive action\n- Severity level: Critical, High, Medium, or Low\n\n6. Severity scoring guidance:\n\n- Critical = Actively exploited, ransomware, mass compromise, zero-day, major breach, cloud takeover, banking fraud, or nation-state activity\n- High = Serious vulnerability, credential theft, malware campaign, exposed systems, API abuse\n- Medium = Smaller risks, moderate vulnerabilities, suspicious activity, security research findings\n- Low = Awareness news, future risks, industry trends, minor bugs\n\n7. Use simple analogies where useful so that even non-technical people can understand the risk.\n\nExamples:\n\n“An unpatched VPN server is like leaving the back gate of an apartment building unlocked overnight. Attackers do not need to break the wall when the door is already open.”\n\n“A cloud IAM account with too many permissions is like giving every employee in a supermarket the master keys, alarm code, and safe combination.”\n\n“A ransomware infection inside a company network is like a fire starting in one room and spreading through open doors into the rest of the building.”\n\n8. If the article relates to cloud security:\n\n- Explain the AWS, Azure, GCP, Kubernetes, IAM, S3 bucket, API gateway, Docker, serverless, or container impact\n- Mention possible attacker paths\n- Mention misconfiguration risks\n- Explain whether the issue could lead to privilege escalation, account takeover, data theft, exposed secrets, or lateral movement\n- Mention how cloud environments are often attacked through weak IAM roles, exposed keys, public buckets, insecure APIs, or unpatched workloads\n\n9. If the article relates to fintech or banking:\n\n- Explain possible fraud, phishing, account takeover, SIM swap, insider threat, mobile banking abuse, API abuse, card fraud, payment redirection, or social engineering\n- Mention likely impact on M-Pesa-like ecosystems, SACCOs, banks, startups, payment gateways, and digital wallets\n- Explain how a threat could affect money movement, customer trust, regulatory compliance, or business continuity\n\n10. If the article relates to ransomware or malware:\n\n- Explain how infection usually happens\n- Mention phishing emails, malicious attachments, fake software downloads, cracked software, exposed RDP, weak passwords, stolen credentials, malicious ads, USB devices, or supply chain compromise\n- Explain how ransomware operators usually move across networks after initial access\n- Mention likely targets such as backups, Active Directory, file shares, cloud storage, and endpoints\n\n11. If the article relates to identity and access management:\n\n- Explain the risk of stolen credentials, MFA fatigue attacks, OAuth abuse, password spraying, token theft, session hijacking, weak IAM policies, or privilege escalation\n- Mention how attackers often target identity first because controlling an account is often easier than hacking a firewall\n\n12. Dynamically create a “Top Critical Threats Today” section.\n\n- Show only the most severe and actionable stories\n- If there are 5 major threats, show 5\n- If there are only 2, show 2\n- Rank them by severity, exploitability, business impact, number of affected organizations, and likelihood of abuse\n- Prioritize active exploitation over theoretical vulnerabilities\n\n13. For each article, keep explanations concise but meaningful.\n\nGood format example:\n\n- What happened\n- Why it matters\n- Who is affected\n- How attackers could abuse it\n- Recommended defense\n\n14. Use practical defensive recommendations such as:\n\n- Patch vulnerable systems\n- Enable MFA\n- Restrict IAM permissions\n- Rotate API keys\n- Monitor logs\n- Block suspicious IPs\n- Disable exposed RDP\n- Review S3 bucket permissions\n- Train users against phishing\n- Segment networks\n- Backup important systems\n\n15. Output must be HTML only.\n\n16. Use this structure:\n\n<h1>Daily Cybersecurity Threat Briefing</h1>\n\n<h2>Top Critical Threats Today</h2>\n<ul>\n<li>\n<strong>[Critical] Threat Title</strong><br>\nSummary<br>\nWhy it matters<br>\nWho is affected<br>\nDefensive action<br>\n<a href=\"URL\">Read more</a>\n</li>\n</ul>\n\n<h2>Malware & Ransomware</h2>\n<h2>Cloud Security</h2>\n<h2>Fintech & Banking Threats</h2>\n<h2>Identity & Access Management Threats</h2>\n\n17. End with this footer:\n\n<p><em>This report was automatically generated to help security teams understand the daily cyber threat landscape.</em></p>\n<p><em>Think of this report like a morning security briefing before opening a bank, data center, or office building. The goal is to know where attackers may strike before the damage happens.</em></p>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        -624
      ],
      "id": "670cf474-8333-48a1-98db-f21f5fe4612b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        -400
      ],
      "id": "12706de3-2313-4f68-94f5-3fbc16194cc1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Bei8lOkc1Fep53nQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const raw = String(item.json.output || '').trim();\n\n  let data = {\n    subject: 'Cybersecurity Threat Briefing',\n    html: ''\n  };\n\n  // Try JSON code block\n  const jsonMatch = raw.match(/```json\\s*([\\s\\S]*?)```/i);\n\n  // Try HTML code block\n  const htmlMatch = raw.match(/```html\\s*([\\s\\S]*?)```/i);\n\n  try {\n    // JSON inside ```json block\n    if (jsonMatch && jsonMatch[1]) {\n      const cleanJson = jsonMatch[1]\n        .trim()\n        .replace(/,\\s*([}\\]])/g, '$1');\n\n      const parsed = JSON.parse(cleanJson);\n\n      data = {\n        subject: parsed.subject || 'Cybersecurity Threat Briefing',\n        html: parsed.html || ''\n      };\n    }\n\n    // HTML inside ```html block\n    else if (htmlMatch && htmlMatch[1]) {\n      data.html = htmlMatch[1].trim();\n    }\n\n    // Raw HTML response\n    else if (\n      raw.startsWith('<h1') ||\n      raw.startsWith('<html') ||\n      raw.startsWith('<!DOCTYPE') ||\n      raw.startsWith('<div') ||\n      raw.startsWith('<p') ||\n      raw.startsWith('<ul')\n    ) {\n      data.html = raw;\n    }\n\n    // Raw JSON response\n    else if (raw.startsWith('{') || raw.startsWith('[')) {\n      const cleanRaw = raw.replace(/,\\s*([}\\]])/g, '$1');\n      const parsed = JSON.parse(cleanRaw);\n\n      data = {\n        subject: parsed.subject || 'Cybersecurity Threat Briefing',\n        html: parsed.html || ''\n      };\n    }\n\n    // Fallback: treat everything as plain HTML/text\n    else {\n      data.html = `<p>${raw}</p>`;\n    }\n  } catch (err) {\n    // Final fallback so workflow never crashes\n    data = {\n      subject: 'Cybersecurity Threat Briefing',\n      html: `<p>${raw}</p>`\n    };\n  }\n\n  const html = data.html || '';\n\n  const formattedText = html\n    .replace(/<h1>(.*?)<\\/h1>/gi, '\\n🔥 *$1*\\n')\n    .replace(/<h2>(.*?)<\\/h2>/gi, '\\n📌 *$1*\\n')\n    .replace(/<h3>(.*?)<\\/h3>/gi, '\\n➡️ *$1*\\n')\n    .replace(/<li>(.*?)<\\/li>/gis, '• $1\\n')\n    .replace(/<ul>|<\\/ul>|<ol>|<\\/ol>/gi, '')\n    .replace(/<strong>(.*?)<\\/strong>/gi, '*$1*')\n    .replace(/<b>(.*?)<\\/b>/gi, '*$1*')\n    .replace(/<em>(.*?)<\\/em>/gi, '_$1_')\n    .replace(/<p>(.*?)<\\/p>/gi, '$1\\n\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<a\\s+href=\"(.*?)\".*?>(.*?)<\\/a>/gi, '$2: $1')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .replace(/[ \\t]{2,}/g, ' ')\n    .trim();\n\n  const subject = data.subject || 'Cybersecurity Threat Briefing';\n\n  return {\n    json: {\n      subject,\n      discord_message: `🔒 *${subject}*\\n\\n${formattedText.substring(0, 1900)}`,\n      whatsapp_message: `🔒 *${subject}*\\n\\n${formattedText.substring(0, 3500)}`,\n      full_text: formattedText,\n      raw_html: html,\n      raw_response: raw\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -624
      ],
      "id": "ba108421-04a6-4c9f-afc0-8452e4c07970",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.discord_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        560,
        -624
      ],
      "id": "33a398fc-9937-42e2-b24b-83c7950a8798",
      "name": "Discord",
      "webhookId": "83e7a4c5-95a2-48b7-9cea-6a831d4fe031",
      "credentials": {
        "discordWebhookApi": {
          "id": "PGnqxyZymeNxHJNw",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
